.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar img{
  margin-top: 70px;
  margin-left: 26px;
}
.mat-nav-list{
  margin-left: 10px;
  margin-top: 60px;
}
.mat-nav-list span{
  margin-left: 15px;
}